body {
  background-color: #000;
  color: #fff;
}

.playfair {
  font-family: " Playfair Display ", serif;
}

.anton {
  font-family: " Anton ", sans-serif;
}

.hotel {
  font-family: "Grand Hotel", cursive;
  color: #ff69b4;
}

span {
  color: #ff69b4;
}
